*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1146px;
    margin: auto;
    /* background-color: yellow; */
}
.show {
    position: absolute;
    background: linear-gradient(to top left, #FF9D5F, #FF8131);
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 6;
}
.main_background{
    background: url(../images/benefits/main_background.png);
    background-size: cover;
    width: 100%;
}

  /* navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    padding-left: 75px;
    padding-right: 75px;
}
.header_nav_btns_cont {
    display: flex;
}
.nav ul li {
    display: inline-block;
    padding-right: 40px;
}
.nav ul li a {
    text-decoration: none;
    color: #3D474D;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}
.log_signup input {
    color: white;
    font-family: poppins;
}
.log_signup :nth-child(1) {
    background: url(../images/Frame_33835.png);
    background-size: cover;
    padding: 11px 25px;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
}
.log_signup :nth-child(2) {
    background: url(../images/btn.png);
    background-size: cover;
    padding: 11px 50px;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
}
.hamb_bar_cont{
    display: none;
}


.feature_double_doted_background{
    background: url(../images/doted_lines.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.feature_heading_and_img_container{
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    padding-top: 120px;
    position: relative;
}
.feature_text{
    text-align: center;
}
.feature_text h1{
    font-family: 'Exo 2';
    font-size: 48px;
    color: #FA7420;
    /* font-weight: 700; */
}
.feature_text p{
    font-family: 'Roboto';
    font-size: 22.3667px;
    color: rgba(0, 75, 129, 0.85);
    font-weight: 700;
    margin-top: 20px;
}
.rocket_img{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 50px;
}

.set_buddy_cont{
    margin-top: 160px;
}
.buddy_discussion_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buddy_image img{
    width: 530.41px;
}
.buddy_discussion_text{
    margin-left: 152px;
}
.buddy_discussion_text h1{
    font-family: 'Exo 2';
    font-size: 40px;
    color: #FA7420;
}
.buddy_discussion_text p{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 75, 129, 0.85);
    margin-top: 15px;
}


.single_doted_section{
    background: url(../images/features/single_doted.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.three_cards_container{
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}

.main_card_container{
    position: relative;
    background: linear-gradient(180deg, #FF934D 0%, #FA7420 100%);
    width: 357px;
    border-radius: 30px;
}
.paper_stack_image{
    position: absolute;
    width: 100%;
    text-align: center;
    top: -70px;
}
.paper_stack_image img{
    width: 150px;
}

.card_container{
    padding-top: 100px;
    padding: 100px 20px 20px 20px;
}
.card_heading{
    text-align: center;
}
.card_heading h2{
    font-family: 'Exo 2';
    font-size: 22px;
    color: white;
}

.card_list{
    margin-top: 25px;
}
.list{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.list_img img{
    width: 17px;
}
.list_text{
    margin-left: 18px;
}
.list_text p{
    font-family: 'Quicksand';
    font-size: 13px;
    color: #2B1313;
    font-weight: 500;
}

.show_more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_more_text h3{
    font-family: 'Exo 2';
    font-size: 13px;
    color: white;
}
.show_more_img{
    margin-left: 11px;
    cursor: pointer;
}
.show_more_img img{
    width: 28px;
}


/* footer */
.sedule_a_demo {
    background: url(../images/apk\ download.png);
    position: relative;
    background-size: 100% 100%;
    top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 928px;
    height: 83px;
    margin-top: 30px;
}
.sedule_demo_text{
    margin-left: 80px;
    margin-right: 187px;
}
.sedule_demo_text p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: rgba(0, 75, 129, 0.85);
}
.sedule_btn{
    background: url(../images/download.png);
    background-size: cover;
    margin-right: 40px;
}
.sedule_btn input{
    background-color: transparent;
    border: 0;
    padding: 17px 20px;
    font-family: 'Quicksand';
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

footer{
    margin-top: 150px;
}
.contact_and_useful_links{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 40px;
}
.contact p{
    font-family: 'Quicksand';
    font-size: 13px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.contact a{
    font-family: 'Segoe UI';
    text-decoration: none;
    color: #0E5486;
}
.footer_links h2{
    font-family: 'Quicksand';
    font-size: 20px;
    color: #0E5486;
    letter-spacing: 1px;
}
.footer_links ul{
    margin-top: 15px;
}
.footer_links ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer_links ul li img{
    margin-right: 10px;
}
.footer_links ul li a{
    text-decoration: none;
    color: #8A9499;
    font-family: 'Quicksand';
    font-size: 15px;
}


.copyright{
    background: url(../images/Group\ 33792.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 93px;
}
.copyright_text h1{
    font-family: 'Quicksand';
    font-size: 16px;
}
.copyright_text h1 span{
    color: #FA7420;
}
.social_btn ul{
    display: flex;
}
.social_btn ul li{
    list-style: none;
    margin-right: 20px;
}
.social_btn ul li:nth-child(3){
    margin: 0;
}
.social_btn ul li i{
    color: #0E5486;
}


@media(max-width:1300px){
    .nav ul li {
        padding-right: 30px;
    }
    .log_signup :nth-child(1) {
        display: none;
    }
    .rocket_img img{
        width: 330px;
    }
}
@media(max-width:1200px){
    .container {
        width: 1060px;
    }
    .feature_heading_and_img_container {
        padding-top: 79px;
    }
    .feature_text p {
        font-size: 21px;
        margin-top: 10px;
    }
    .rocket_img {
        margin-right: 20px;
    }
    .buddy_image img {
        width: 457px;
    }
    .buddy_discussion_text h1 {
        font-size: 35px;
    }
    .buddy_discussion_text p {
        font-size: 15px;
    }
    .main_card_container {
        width: 300px;
    }
}
@media(max-width:1100px){
    .container {
        width: 918px;
    }
    .hamb_bar_cont{
        display: block;
        z-index: 6;
    }
    .hamb_bar_cont i {
        margin-top: 22px;
    }
    .nav {
        display: none;
        padding-top: 90px;
    }
    .nav ul {
        text-align: center;
    }
    .nav ul li {
        display: block;
    }
    .nav ul li a {
        color: white;
        font-size: 20px;
    }
    .log_signup{
        margin-right: 20px;
    }
    .log_signup :nth-child(1) {
     display: inline-block;
    }

    .rocket_img img {
        width: 290px;
    }
    .feature_text p {
        font-size: 17px;
        margin-top: 5px;
    }

    .buddy_image img {
        width: 450px;
    }
    .buddy_discussion_text {
        margin-left: 66px;
    }
    .buddy_discussion_text h1 {
        font-size: 30px;
    }
    .buddy_discussion_text p {
        margin-top: 10px;
    }

    .sedule_a_demo {
        width: 732px;
    }
    .sedule_demo_text {
        margin-right: 140px;
    }
    .sedule_btn {
        margin-right: 20px;
    }
}
@media(max-width:1000px){
    .container {
        width: 830px;
    }

    .rocket_img img {
        width: 270px;
    }
    .feature_heading_and_img_container {
        padding-top: 50px;
    }
    .feature_text h1 {
        font-size: 40px;
    }

    .buddy_image img {
        width: 410px;
    }
    .buddy_discussion_text h1 {
        font-size: 25px;
    }


    .three_cards_container {
        flex-direction: column;
        align-items: center;
    }
    .main_card_container {
        margin-bottom: 130px;
        width: 700px;
    }

    .sedule_a_demo {
        width: 630px;
        height: 70px;
    }
    .sedule_demo_text {
        margin-right: 74px;
        margin-left: 40px;
    }
    .sedule_btn {
        margin-right: 20px;
    }
    .sedule_btn input {
        padding: 13px 11px;
        font-size: 11px;
    }

    footer {
        margin: 0;
    }
}
@media(max-width:900px){
    .container {
        width: 700px;
    }
    header {
        padding-left: 60px;
        padding-right: 60px;
    }
    header img {
        width: 200px;
    }
    .feature_heading_and_img_container {
        padding-top: 36px;
    }
    .rocket_img img {
        width: 210px;
    }
    .set_buddy_cont {
        margin-top: 131px;
    }
    .buddy_image img {
        width: 320px;
    }
    .buddy_discussion_text p {
        font-size: 14px;
        line-height: 25px;
    }

    .main_card_container {
        width: 460px;
    }
    .paper_stack_image {
        top: -60px;
    }
    .paper_stack_image img {
        width: 130px;
    }
    .card_container {
        padding: 85px 20px 20px 20px;
    }


    .contact_and_useful_links {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-right: 40px;
        padding-left: 40px;
    }
    .contact{
        margin-bottom: 40px;
    }
    .contact img{
        width: 220px;
    } 
    .contact p {
        font-size: 11px;
        margin-top: 4px;
    }
    .copyright {
        padding: 35px 30px;
    }
  
}
@media(max-width:800px){
    .container {
        width: 600px;
    }
    .feature_double_doted_background {
        margin-top: 50px;
    }
    .feature_heading_and_img_container {
        padding-top: 0;
    }

    .feature_text h1 {
        font-size: 35px;
    }
    .feature_text p {
        font-size: 15px;
    }


    .set_buddy_cont {
        margin-top: 160px;
    }
    .buddy_discussion_container {
        flex-direction: column-reverse;
    }
    .buddy_discussion_text {
        margin-left: 20px;
        margin-right: 50px;
    }
    .buddy_discussion_text h1 {
        font-size: 30px;
    }
    .buddy_image{
        margin-top: 50px;
    }
    .buddy_image img {
        width: 400px;
    }


    .sedule_a_demo {
        width: 440px;
        height: 60px;
        top: 30px;
    }
    .sedule_demo_text {
        margin-right: 0px;
    }
    .sedule_demo_text p {
        font-size: 13px;
    }
    .sedule_btn {
        margin-right: 5px;
    }
    .sedule_btn input {
        padding: 12px 11px;
        font-size: 9px;
    }
}
@media(max-width:700px){
    .container {
        width: 450px;
    }
    .log_signup{
        display: none;
    }
    .feature_text p {
        font-size: 13px;
    }
    .rocket_img img {
        width: 170px;
    }
}
@media(max-width:600px){

    .rocket_img {
        top: 201px;
        display: none;
    }
    .main_card_container {
        width: 370px;
    }
    .set_buddy_cont {
        margin-top: 90px;
    }
    .card_list {
        margin-top: 30px;
    }
    .list {
        margin-bottom: 20px;
    }
}
@media(max-width:500px){
    .container {
        width: 340px;
    }
    header {
        padding-left: 30px;
        padding-right: 30px;
        line-height: 60px;
    }
    header img {
        width: 170px;
    }
    .hamb_bar_cont i {
        margin-top: 15px;
    }
    .feature_text p {
        font-size: 10px;
    }
    .buddy_discussion_text {
        margin-left: 0px;
        margin-right: 0;
    }
    .buddy_discussion_text h1 {
        font-size: 25px;
    }

    .buddy_image img {
        width: 290px;
    }

    .main_card_container {
        width: 270px;
    }
    .paper_stack_image {
        top: -47px;
    }
    .paper_stack_image img {
        width: 100px;
    }
    .card_container {
        padding: 56px 20px 20px 20px;
    }

    .sedule_a_demo {
        width: 314px;
        height: 50px;
    }
    .sedule_demo_text {
        margin-left: 24px;
    }
    .sedule_demo_text p {
        font-size: 10px;
    }
    .sedule_btn input {
        padding: 8px 3px;
        font-size: 7px;
    }

    .copyright {
        align-items: center;
    }
    .copyright_text h1 {
        font-size: 11px;
    }
    .social_btn ul li i {
        font-size: 25px;
    }
    
}
@media(max-width:400px){
    .container {
        width: 320px;
    }
    header {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }
    .feature_text h1 {
        font-size: 30px;
    }
    .feature_heading_and_img_container {
        top: -15px;
    }
}